<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :num %>
    <%= form.number_field :num %>
  </div>

  <div class="field">
    <%= form.label :statement %>
    <%= form.text_area :statement %>
  </div>

  <div class="field">
    <%= form.label :area_id %>
    <%= form.select :area_id, Area.all.collect {|x| [x.name, x.id]} %>
  </div>

  <%= form.fields_for :answers do |answer| %>
    <div class="question">
      <%= answer.label :statement %>
      <%= answer.text_area :statement %>
      <%= answer.label :isCorrect %>
      <%= answer.radio_button :isCorrect, "true"%>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
